<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Shoes Database</title>
  </head>
  <body>
    <div class="container">
      <h1>Shoes Database</h1>
      <!-- Store -->
      <form method="post" action="/">
        <div class="form-group">
          <label for="name">Create Store or Brand</label>
          <input class="form-control" type="text" name="name" id="name" placeholder="Type here">
          <div class='radio'>
            <label>
              <input type="radio" name="type" value="store" checked>
              Add Store
            </label>
          </div>
          <div class='radio'>
            <label>
              <input type="radio" name="type" value="brand">
              Add Brand
            </label>
        </div>
          <button id='add_button' type="submit" class="btn btn-success btn-block">Add</button>
      </form>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Store Lists</h3>
            </div>
            {% if stores is not empty %}
              <ul>
                <div class='row'>
                  {% for store in stores %}
                    <div class='col-sm-7'>
                      <a href="/store/{{store.getId}}"><li>{{store.getStoreName}}</a></li>
                    </div>
                    <div class='col-sm-5'>
                      <a href="/delete_store/{{store.getId}}">Delete</a>
                      <a href="/edit_store/{{store.getId}}">Edit</a>
                    </div>
                  {% endfor %}
                  <a href="delete_all_stores">Delete All Stores</a>
                </div>
              </ul>

            {% endif %}
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Brand Lists</h3>
            </div>
            {% if brands is not empty %}
              <ul>
                <div class='row'>
                  {% for brand in brands %}
                    <div class='col-sm-7'>
                      <a href="/brand/{{brand.getId}}"><li>{{brand.getBrandName}}</li></a>
                    </div>
                    <div class='col-sm-5'>
                      <a href="/delete_brand/{{brand.getId}}">Delete</a>
                    </div>
                  {% endfor %}
                  <a href="delete_all_brands">Delete All Brands</a>
                </div>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
